* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  height: 50vh;
  /* background: #b9c2d3; */
  /* background-color: rgb(226, 225, 236); */

  /* background-image: url(../includes/pics/code.png); */
}

.side-nav {
  width: 350px;
  height: 100%;
  background: linear-gradient(to bottom, #09203f, #537895, #09203f);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 100px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 75px;
}

.logo-img {
  width: 150px;
}

.logo {
  display: block;
  margin-bottom: 30px;
}

.nav-links {
  list-style: none;
  position: relative;
}

.nav-links li {
  padding: 10px 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 14px;
}

.container {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 250px;
}

.main {
  padding-top: 0px;
  padding-left: 200px;
  padding-right: 100px;
  /* background-color: rgb(226, 225, 236); */
  /* background-image: url(includes/pics/code.png); */
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 350px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  /* padding-left: 300px; */
}

.main h1,
.main h2,
.main p {
  color: white;
  font-family: Trebuchet MS;
  font-weight: bold;
  /* padding-left: 250px;
  text-align: center; */
}

/* h1 {
  font-size: 6rem;
  margin-top: 30vh;
} */

h2 {
  font-size: 3rem;
}
/* header {
  background-image: url(includes/pics/code.png);
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0;
  width: 25%;
  height: 100vh;
  background: linear-gradient(to bottom, #09203f, #537895, #09203f);
  background-image: url(includes/pics/code.png);
}

.content {
  flex: 1; Allow content to take up remaining space
  Add any other styling you want
} */
